<% if @items.any? %>
  <%= render 'search_buttons' %>
  <% @items.each do |item| %>

    <h3><%= link_to item.title, item_path(item.id) %></h3><br>
    <p>Description: <%= truncate(item.body, length: 50) %><p>
    <p>Priority: <%= item.priority %></p>

    <% if item.complete%>
      <p id="complete"><em>Complete!</em></p>
    <% else %>
      <p id="incomplete"><em>Not Complete!</em></p>
    <% end %>

    <hr>

  <% end %>
<% else %>
  <h2>Nothing to see here!</h2>
<% end %>
