<div class="container">
  <h1>Items</h1>
  <hr>
  <% if @items.any? %>
    <% @items.each do |item| %>
      <h2>* <%= link_to item.title, item_path(item.id) %></h2><br>
    <% end %>
  <% end %>
  <%= link_to 'Add a Todo', new_item_path, class: "btn btn-primary" %>
  <%= link_to 'Back to Home', root_path, class: "btn btn-info" %>
</div>
